.cal{
    width: 400px;
    height: 600px;
    background: cornflowerblue;
    margin-left: 400px;
}
#screen{
    width: 80%;
    height: 36px;
    margin-left: 26px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    width: 73px;
    margin-left: 20px;
    margin-top: 25px;
    width: 71px;
    height: 57px;
}